/* Configuración del body */

body{
  background: #161616; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1c1c1c, #464343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1c1c1c, #464343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
  text-align: center;
  font-size: large;
  width: 100%;
  margin: 20px;
  border: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.header{
  display: flex;
  background: #161616;
}


.container-box{
  margin: 1em;
  padding: 1em;
  border: hidden;
  box-sizing: border-box;
  width:100%
}

.container-box-item a{
  font-family: "Lato Bold", sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.session-item{
  padding:0 5px;
}

.session-item a, .session-item form button{
  font-family: "Lato Bold", sans-serif;
  text-decoration: none;
  color:#e4dddd;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.session-item a:hover, .session-item form button:hover{
  transition-duration: 1s;
  font-size: 18px;
  color: #ffee00;
  text-decoration: underline;
}

.container-img{
  width: 30%;
}

.container-img a img{
  width: 100%;
  height: auto;
  padding: 0;
  box-sizing: border-box;
}

.container-session{
  width: 20%;
}

.session ul{
  list-style-type: none;
  padding: 5px;
  display: inline;
}

.session-button:hover{  
  color: #c9bdbd;
  font-size: 90%;
  transition-duration: 1s;
}

/*Añadiendo estilo a la página principal*/

.container-box p{
    font-family: "Lato Bold";
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin: 20px;
    padding: 20px;
    border: 2px hidden;
    text-align: center;
    color: #e4dddd;
}

.container-box{
  margin: 10px;
}


.container-session{
  align-items: end;
  display: flex;
}

.container-box-item{
  text-align: center;
  padding:5px;
  font-family: "Lato Bold";
  box-sizing: border-box;
  color:#e4dddd;
  display: inline-flex;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.container-box-1,.container-box-2,.container-box-3,.container-box-4{
  font-family: "Lato Black";
  font-weight: 500;
  color: #e4dddd;
  font-size: 16px;
  padding: 5px;
  margin: 0;
  border: 1px hidden;
  box-sizing: border-box;
}


.container-box-1:hover,.container-box-2:hover,.container-box-3:hover,.container-box-4:hover{
  color: #fff5aa;
  text-decoration: underline;
  size: 200%;
  transition-duration: 1s;
}

.box{
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal; 
  text-align: center;
  color: hsl(0, 0%, 86%);
  margin-left: 300px;
  margin-right: 300px;
  font-size: 1.5em;
}

.nav-box-1 {
  background: url("../imagenes/landing-img.png") no-repeat center center fixed;
  background-size: cover;
}

.nav-box-1 p{
  font-family:sans-serif;
  font-size: 2em;
  padding: 20px;
  margin: 0;
  color: #e4dddd;
  background-color: #0006;
  box-sizing: border-box;
}

.tematicas-libros{
  text-align: center;
}

.boton-suscribirse{
  text-align: center;
  color: #fff;
  background-color: rgb(0, 0, 0);
  padding: 15px 50px;
  font-family: "Lato Bold";
  font-weight: 700;
  font-style: normal;
  border-radius: 10px;
}

/* Página de 'Resúmenes'*/

.category-item {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  padding: 0px;
  width: 150px;
  height: 30px;
  text-decoration: none;  
}

.category-item a{
  color: #ffee00;
}

.form-busqueda{
  text-align: center;
}

.lista-de-libros{
    text-align: center;
}

.lista-de-libros h1{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lista-de-libros p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lista-de-libros ul {
    display: block;
}

.lista-de-libros ul li{
    list-style: none;
    padding-right: 100px;
}

.titulo-libro{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    color:#fafafa
}

.nombre-autor{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fafafa
}

.nombre-categoria{
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  color:#fafafa;
}

.page-items {
  list-style-type: none; /* Eliminar los puntos de la lista */
  padding: 0; /* Eliminar el padding interno del <ul> */
  margin: 0; /* Eliminar el margen */
  text-align: center; /* Centrar los elementos dentro del contenedor */
  color: #a39e9e;
}

.page-item {
  display: inline-block; /* Mostrar los elementos en línea */
  margin: 0 5px; /* Ajustar el margen entre los elementos */
}

.page-link {
  text-decoration: none; /* Eliminar el subrayado de los enlaces */
  padding: 5px 10px; /* Espacio interno en los enlaces */
  background-color: #f0f0f0; /* Color de fondo de los enlaces */
  border-radius: 5px; /* Bordes redondeados */
}

.page-item.active .page-link {
  background-color: #fbff00; /* Color de fondo para el enlace activo */
  color: rgb(33, 30, 30); /* Color del texto del enlace activo */
}

/* Página de Membresía*/

.container-membresia{
 text-align: center;
}

.titulo-membresia{
  color: #1c1c1c;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 200%;
}

.parrafo-membresia{
    color: #1c1c1c;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.parrafo-membresia table{
  border: 1px solid;
}

.tarifa-mensual, .tarifa-anual {
  font-family: "Lato", sans-serif;
  font-style: normal;
  text-align: center;
}

.tarifa-mensual h2, .tarifa-anual h2 {
  font-weight: 700; 
  font-size: 200%;
}

.tarifa-mensual p, .tarifa-anual p {
  font-weight: 500; 
}

.tarifa-mensual a, .tarifa-anual a {
  border-radius:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}


.suscripcion-mensual, .suscripcion-anual{
  color: #ffffff;
  background-color: rgb(28, 23, 23);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 10px;
}

.suscripcion-mensual:hover, .suscripcion-anual:hover{
  color: #ffffff;
  background-color: #575757;
  transition-duration: 1s;
}

.suscribed{
  color: #e4dddd;
  size:400%;
}

.suscribed:hover{
  color: #f4ff5f;
  font-size: 100%;
  transition-duration: 1s;
}

/* Footer */

.footer-menu {
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.footer-menu ul li{
    font-weight: 500;
    font-size: 0.5rem;
}

.social-icons{
  text-align: center;
}

.active:hover{
  color: #fff5aa;
}

footer{
  text-align: center;
  color: #e4dddd;
  background-color: #1c1c1c;
}

.footer-menu-item{
  text-align: center;
  padding:5px;
  font-family: "Lato Bold";
  box-sizing: border-box;
  color:#e4dddd;
  display: inline-flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Página de contacto */

.contact h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.contact h2 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.contact {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal; 
  text-align: center;
  color: #1c1c1c;
  margin-left: 400px;
  margin-right: 150px;
  padding-top: 20px;
  border: #2e2e2e;
  background-color: #e8dfdf;
  border-radius: 2%;
}