<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlejandrIA</title>
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
</head>
<body>
    <!-- Container del encabezado -->
    {% block header %}
    <div class="container header">

        <!-- Logotipo -->
        <div class="container-box container-img">
            <a href="{% url 'index' %}"><img src="{% static 'imagenes/logo.png' %}" alt="Logo" title="Logo"></a>
        </div>

        <!-- Menú principal -->
        <div class="container-box container-menu">
            <div class="container-box-item">
                <a href="{% url 'index' %}" class="container-box-1">Inicio</a>
            </div>
            <div class="container-box-item">
                <a href="{% url 'membresia' %}" class="container-box-2"> Membresía </a>
            </div>
            <div class="container-box-item">
                <a href="{% url 'resumenes' %}" class="container-box-3"> Resumenes </a>
            </div>
            <div class="container-box-item">
                <a href="#" class="container-box-4"> Blog </a>
            </div>
        </div>

        <!-- Sesión-->
        <div class="container-box container-session">
            {% if user.is_authenticated %}  
            <div class="session-item">
                <a href="{% url 'mi-perfil' %}" class="session-button">Cuenta</a>
            </div>
            <div class="session-item">
                <form action={% url 'cerrar-sesion' %} method="post">
                {% csrf_token %}
                <button action="submit" class="session-button submit-button">Logout</button></form>
            </div>
            {% else %}
            <div class="session-item">
                <a href="{% url 'inicio-sesion' %}" class="session-button">Login</a>
            </div>
            <div class="session-item">
                <a href="{% url 'registro' %}" class="session-button">Registro</a>
            </div>
            {% endif %}
        </div>   
    </div>
    {% endblock %}


    <!-- Aquí va el contenido específico de cada página -->
    {% block content %}
    {% endblock %}

    <!-- Pie de página -->
     {% block footer %}
     <div class="container footer">
        <div class="container-box social-icons">    
            <div class="container-box-item">
                <a href="https://www.youtube.com/@alejandr.ia_"><img src="{% static 'imagenes/logo-youtube-32px.png' %}" alt="Logo de Youtube"></a>
            </div>
            <div class="container-box-item">
                <a href="https://paypal.me/samulinaresf?country.x=ES&locale.x=es_ES"><img src="{% static 'imagenes/logo-paypal-32px.png' %}" alt="Logo de Paypal"></a>
            </div>
            <div class="container-box-item">
                <a href="https://open.spotify.com/show/6Los0BS2h1yN8DLyBjnyht?si=890be587be9f42af"><img src="{% static 'imagenes/logo-spotify-30px.png' %}" alt="Logo de Spotify"></a>
            </div>
        </div>
        <div class="container-box footer-menu">
            <div class="footer-menu-item">
                <a href="{% url 'aviso_legal' %}" class="container-box-item active">Aviso legal</a>
            </div>
            <div class="footer-menu-item">
                <a href="{% url 'politica_privacidad' %}" class="container-box-item active">Política de privacidad</a>
            </div>
            <div class="footer-menu-item">
                <a href="{% url 'politica_cookies' %}" class="container-box-item active">Política de cookies</a>
            </div>
            <div class="footer-menu-item">
                <a href="{% url 'faq' %}" class="container-box-item active">FAQ</a>
            </div>
            <div class="footer-menu-item">
                <a href="{% url 'sobre_nosotros' %}" class="container-box-item active">Sobre nosotros</a>
            </div>
            <div class="footer-menu-item">
                <a href="{% url 'contacto' %}" class="container-box-item active">Contacto</a>
            </div>
        </div>
        <div class="container-box">
            <p class="copyright">copyright &copy; Samuel Linares, 2024 Todos los derechos reservados</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>
