{% extends "base.html" %}
{% load static %}
{% block content%}
    
    <!-- Imagen y artículo -->
<div class="container container-nav">

    <div class="container-box nav-box-1">
        <p>La biblioteca con cientos de resúmenes formato video y texto. Apto para todas las edades Aquí podrás encontrar resúmenes de libros, estudios, papers, whitepapers... y un largo etcétera. Todo de diversas temáticas, aunque te resultará muy fácil encontrar aquel contenido que más te interese.</p>
        <!--<img src="{% static 'imagenes/alejandria-robots.png' %}" title="Robots en Alejandría" alt="Imagen de robots en Alejandría">-->
    </div>

    <!--<div class="container-box">
        <a href="{% url 'membresia' %}" class="boton-suscribirse">Únete a la membresía</a>
    </div>-->

</div>
{% endblock %}