{% extends "base.html" %}
{% load static %}
{% block content%}
    
    <!-- Imagen y artículo -->
<div class="container">

    <div class="container-box nav-box-1">
        <p>La biblioteca con cientos de resúmenes formato video y texto. Apto para todas las edades</p>
        <img src="{% static 'imagenes/alejandria-robots.png' %}" title="Robots en Alejandría" alt="Imagen de robots en Alejandría">
    </div>

    <div class="container-box nav-box-2">
        <p>En promedio, una persona tarda entre 6 y 10 horas para completar un libro asumiendo una velocidad de lectura de 200 a 300 palabras por minuto. 
        En esta página podrás ahorrar mucho de este tiempo.</p>
        <img class="img-box" src="{% static 'imagenes/ahorra-tiempo.png' %}" alt="Ahorrar tiempo">
    </div>

    <div class="container-box nav-box-3">
        <p>Aquí podrás encontrar resúmenes de libros, estudios, papers, whitepapers... y un largo etcétera. Todo de diversas temáticas, aunque te resultará muy fácil encontrar aquel contenido que más te interese.</p>
        <img src="{% static 'imagenes/diversas-tematicas.png' %}" alt="Libros de diversas temáticas">
    </div>

    <div class="container-box">
        <a href="{% url 'membresia' %}" class="boton-suscribirse">Únete a la membresía</a>
    </div>

</div>
{% endblock %}