{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="cookies">
    <h1 class="title-box">Política de Cookies</h1>
    <article class="box">
        <br>
        <br>
        <br>
        <h2>1. Introducción</h2>
        <br>
        <br>
        <p>En [nombre de tu página web] utilizamos cookies para mejorar su experiencia de navegación y permitir el correcto funcionamiento del sitio web. Esta política explica qué son las cookies, cómo las usamos y cómo puede gestionarlas.</p>
        <br>
        <br>
        <br>
        <h2>2. Definición y Función de las Cookies</h2>
        <br>
        <br>
        <p>Las cookies son pequeños archivos de texto que se almacenan en su dispositivo (ordenador, tablet, smartphone, etc.) cuando visita un sitio web. Las cookies permiten al sitio web recordar sus acciones y preferencias (como inicio de sesión, idioma, tamaño de fuente y otras preferencias de visualización) durante un período de tiempo, para que no tenga que volver a configurarlas cada vez que regrese al sitio o navegue de una página a otra.</p>
        <br>
        <br>
        <br>
        <h2>3. Tipos de Cookies Utilizadas</h2>
        <br>
        <br>
        <p><strong>Cookies Propias:</strong> Son aquellas que se envían a su dispositivo desde un dominio gestionado por nosotros.</p>
        <p><strong>Cookies de Terceros:</strong> Son aquellas que se envían a su dispositivo desde un dominio que no es gestionado por nosotros, sino por otra entidad que trata los datos obtenidos a través de las cookies.</p>
        <br>
        <br>
        <br>
        <h2>4. Finalidad de las Cookies</h2>
        <br>
        <br>
        <p>Utilizamos cookies para los siguientes propósitos:</p>
        <ul>
            <li><strong>Cookies Técnicas:</strong> Son necesarias para el funcionamiento del sitio web y no se pueden desactivar en nuestros sistemas.</li>
            <li><strong>Cookies de Personalización:</strong> Permiten recordar sus preferencias (como el idioma o la región en la que se encuentra) y personalizar el contenido del sitio web en función de ellas.</li>
            <li><strong>Cookies de Análisis:</strong> Nos permiten analizar cómo interactúan los usuarios con nuestro sitio web y mejorar su funcionalidad.</li>
            <li><strong>Cookies Publicitarias:</strong> Utilizadas para mostrar anuncios relevantes para usted.</li>
        </ul>
        <br>
        <br>
        <br>
        <h2>5. Gestión y Desactivación de Cookies</h2>
        <br>
        <br>
        <p>Puede gestionar y desactivar las cookies a través de la configuración de su navegador. A continuación, le indicamos cómo hacerlo en los navegadores más comunes:</p>
        <ul>
            <li><strong>Google Chrome:</strong> <a href="https://support.google.com/chrome/answer/95647">Instrucciones</a></li>
            <li><strong>Mozilla Firefox:</strong> <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-">Instrucciones</a></li>
            <li><strong>Safari:</strong> <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">Instrucciones</a></li>
            <li><strong>Microsoft Edge:</strong> <a href="https://support.microsoft.com/es-es/help/4027947/microsoft-edge-delete-cookies">Instrucciones</a></li>
        </ul>
        <p>Tenga en cuenta que la desactivación de cookies puede afectar la funcionalidad de nuestro sitio web.</p>
        <br>
        <br>
        <br>
        <h2>6. Cookies Específicas Utilizadas en Este Sitio</h2>
        <br>
        <br>
        <ul>
            <li><strong>cookie_de_sesion:</strong> Mantiene la sesión iniciada, Cookie propia, Expira al cerrar el navegador</li>
            <li><strong>cookie_idioma:</strong> Recuerda la preferencia de idioma, Cookie propia, 1 año</li>
            <li><strong>_ga:</strong> Utilizada por Google Analytics para distinguir a los usuarios, Cookie de terceros, 2 años</li>
            <li><strong>_gid:</strong> Utilizada por Google Analytics para distinguir a los usuarios, Cookie de terceros, 24 horas</li>
            <li><strong>_gat:</strong> Utilizada por Google Analytics para limitar el porcentaje de solicitudes, Cookie de terceros, 1 minuto</li>
        </ul>
        <br>
        <br>
        <br>
        <h2>7. Actualizaciones de la Política de Cookies</h2>
        <br>
        <br>
        <p>Nos reservamos el derecho de actualizar esta política de cookies en cualquier momento. Cualquier cambio será publicado en esta página con una fecha de revisión actualizada. Le notificaremos sobre cambios importantes para que pueda revisar los cambios y, si es necesario, ajustar sus preferencias.</p>
        <br>
        <br>
        <br>
        <h2>8. Contacto</h2>
        <br>
        <br>
        <p>Si tiene preguntas o inquietudes sobre nuestra política de cookies, puede contactarnos en:</p>
        <p>[Nombre de tu empresa]<br>[Dirección]<br>[Correo electrónico de contacto]<br>[Teléfono]</p>
    </article>
</div>
<br>
{% endblock %}