{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="title-box">
    <article class="box">
        <h1>Política de Privacidad</h1>
        <br>
        <br>
        <br>
        <h2>1. Introducción</h2>
        <br>
        <br>
        <p>En [nombre de tu página web] (en adelante, "nosotros", "nuestro", "la empresa"), nos comprometemos a proteger y respetar su privacidad. Esta política de privacidad explica cómo recopilamos, usamos, compartimos y protegemos su información personal cuando visita y utiliza nuestro sitio web [URL de tu página web].</p>
        <br>
        <br>
        <br>
        <h2>2. Información que Recopilamos</h2>
        <br>
        <br>
        <p>Podemos recopilar y procesar los siguientes datos personales:</p>
        <br>
        <br>
        <ul>
            <li><strong>Información de Identificación Personal:</strong> nombre completo, dirección de correo electrónico, edad, nombre de usuario, contraseña y país.</li>
            <li><strong>Información de Comunicación:</strong> preferencias sobre recibir contenido comercial por correo electrónico.</li>
            <li><strong>Información de Uso:</strong> detalles sobre el uso de nuestro sitio web, incluyendo datos de tráfico, datos de ubicación, weblogs y otros datos de comunicación.</li>
        </ul>
        <br>
        <br>
        <br>
        <h2>3. Uso de la Información Recopilada</h2>
        <br>
        <br>
        <p>Utilizamos la información recopilada para los siguientes fines:</p>
        <ul>
            <li><strong>Provisión del Servicio:</strong> Para gestionar su cuenta y proporcionar acceso a los resúmenes de libros.</li>
            <li><strong>Mejora del Servicio:</strong> Para comprender cómo utiliza nuestro sitio web y realizar mejoras.</li>
            <li><strong>Comunicaciones:</strong> Para enviarle comunicaciones comerciales si ha dado su consentimiento expreso.</li>
            <li><strong>Seguridad:</strong> Para proteger la seguridad de nuestros servicios y de nuestros usuarios.</li>
            <li><strong>Cumplimiento Legal:</strong> Para cumplir con obligaciones legales y regulaciones.</li>
        </ul>
        <br>
        <br>
        <br>
        <h2>4. Conservación de Datos</h2>
        <br>
        <br>
        <p>Conservaremos sus datos personales durante el tiempo que sea necesario para cumplir con los fines descritos en esta política de privacidad, a menos que se requiera o permita un período de conservación más largo por ley.</p>
        <br>
        <br>
        <br>
        <h2>5. Derechos del Usuario</h2>
        <br>
        <br>
        <p>Como usuario, tiene los siguientes derechos:</p>
        <ul>
            <li><strong>Acceso:</strong> Tiene derecho a solicitar acceso a sus datos personales que poseemos.</li>
            <li><strong>Rectificación:</strong> Tiene derecho a solicitar la corrección de datos personales inexactos.</li>
            <li><strong>Eliminación:</strong> Tiene derecho a solicitar la eliminación de sus datos personales cuando ya no sean necesarios para los fines para los cuales fueron recopilados.</li>
            <li><strong>Oposición:</strong> Tiene derecho a oponerse al procesamiento de sus datos personales.</li>
            <li><strong>Portabilidad:</strong> Tiene derecho a recibir sus datos personales en un formato estructurado y comúnmente utilizado y a transmitirlos a otro controlador de datos.</li>
        </ul>
        <br>
        <br>
        <p>Para ejercer estos derechos, puede contactarnos a través del correo electrónico: [tu email de contacto].</p>
        <br>
        <br>
        <br>
        <h2>6. Seguridad de los Datos</h2>
        <br>
        <br>
        <p>Implementamos medidas técnicas y organizativas adecuadas para proteger sus datos personales contra el acceso no autorizado, la pérdida, la destrucción o la divulgación.</p>
        <br>
        <br>
        <br>
        <h2>7. Uso de Cookies</h2>
        <br>
        <br>
        <p>Nuestro sitio web utiliza cookies para mejorar su experiencia de navegación. Las cookies son pequeños archivos de datos que se almacenan en su dispositivo. Puede configurar su navegador para rechazar cookies, pero esto puede afectar la funcionalidad del sitio web.</p>
        <br>
        <br>
        <br>
        <h2>8. Cambios en la Política de Privacidad</h2>
        <br>
        <br>
        <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página con una fecha de revisión actualizada.</p>
        <br>
        <br>
        <br>
        <h2>9. Contacto</h2>
        <br>
        <br>
        <p>Si tiene preguntas o inquietudes sobre esta política de privacidad o sobre nuestras prácticas de privacidad, puede contactarnos en:</p>
        <p>[Nombre de tu empresa]<br>[Dirección]<br>[Correo electrónico de contacto]<br>[Teléfono]</p>
    </article>
    
</div>
<br>
{% endblock %}