<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandr.ia</title>
    <!-- Cargar los templatetags estáticos -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="titulo">Registro del usuario</h1>
    <form class="formulario" method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }} <!-- Esto renderiza todos los campos del formulario con etiquetas <p> -->
        <button class="boton-registro" type="submit">Registrarse</button>  
    </form>
    <br>
    <br>
    <div class="form-login">
        <p class="login">Si ya tienes una cuenta inicia sesión.</p>
        <a href="{% url 'inicio-sesion' %}" class="enlace-login">Inicio sesión</a>
        <button type="box" onclick="window.history.back()">Atrás</button>
    </div>
        
</body>
</html>
