{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="">
    <article>
        <h1 class="title-box">Sobre nosotros</h1>
        <br>
        <br>
        <p class="box">Alejandr.IA más que una página de resúmenes es una comunidad de personas con inquietudes diversas que no tienen tiempo para aprender todo lo que desean. Yo al igual que tu también era ese joven inquieto que quería leerse todos los libros y aprender de todos los temas posibles.
        </p>
    </article>
</div>
<br>
{% endblock %}